---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/navigation.astro';
import Home from '../components/home.astro';
import Skills from '../components/skills.astro'
import Projects from '../components/projects.astro';
---

<Layout title="">
	<Navigation />
		<main class="snap-y snap-mandatory snap-always overflow-y-scroll h-screen scroll-pt-24 pt-20">
			
			<Home />
			<Projects />	
			<Skills />
				
		</main>

</Layout>

<style>
	main {
		color: white;
		height: 1000px;
	}
</style>