---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/navigation.astro';
import Home from '../components/home.astro';
import Projects from '../components/projects.astro';
import Contact from '../components/contact.astro';
import About from '../components/about.astro';
import Footer from '../components/footer.astro';
---

<Layout title="">
	<Navigation />
	<main class="h-screen">

		<Home />
		<About />
		<Projects />	
		<Contact />
		<Footer />
	</main>

</Layout>

<style>
	main {
		color: white;
		height: 1000px;
	}
</style>