---
import { Image } from 'astro:assets';
---
<section class="bg-white pb-10 pt-14 flex flex-col gap-12 justify-center items-center lg:pt-20 sm:min-h-screen" id="about">
  <div class="flex flex-col justify-center items-center lg:gap-8">
    <h2 class="font-bold text-indigo text-5xl lg:text-6xl 2xl:text-7xl">About Me</h2>
    <p class="font-bold text-tekhelet p-5 text-xl 2xl:text-2xl lg:text-center" id="top">
      Hello, I am a passionate Full-Stack Developer, with expertice in crafting dynamic web pages.<br/>
      I love meeting new people and I always welcome new challenges.<br/>
      If you have A project you need coded, don't hesitate to contact me.
    </p>
  </div>
  <div>
    <button class="custom-shadow-light hover:bg-extra-transparent-tekheltet active:bg-semi-transparent-tekheltet bg-thistle p-2 rounded-3xl text-tekhelet font-bold lg:text-lg lg:p-3 2xl:text-xl">
      Get My Resume
    </button>
  </div>
  <div class="flex flex-col justify-center items-center text-center gap-10">
    <h3 class="text-4xl font-bold text-indigo p-5 2xl:text-5xl">Technologies</h3>
    <div class="flex flex-row justify-center">
      <ul class="grid grid-cols-2 gap-4 w-64 sm:grid-cols-5 sm:w-full sm:gap-10" id="skills-list">
      </ul>
    </div>
  </div>
</section>

<script>
import ruby_icon from '../assets/images/tech_icons/ruby.svg'
import js_icon from '../assets/images/tech_icons/javascript.svg'
import react_icon from '../assets/images/tech_icons/react.svg'
import html_icon from '../assets/images/tech_icons/html-5.svg'
import css_icon from '../assets/images/tech_icons/css-3.svg'
import tailwind_icon from '../assets/images/tech_icons/tailwindcss-icon.svg'
import postgres_icon from '../assets/images/tech_icons/postgresql.svg'
import redux_icon from '../assets/images/tech_icons/redux.svg'
import rails_icon from '../assets/images/tech_icons/rails.svg'
import git_icon from '../assets/images/tech_icons/git-icon.svg'

const skills_list = document.getElementById('skills-list');
const skills = [
  { name: 'JavaScript', img: js_icon.src },
  { name: 'Ruby', img: ruby_icon.src },
  { name: 'React', img: react_icon.src },
  { name: 'Ruby on Rails', img: rails_icon.src },
  { name: 'Redux', img: redux_icon.src },
  { name: 'PostgreSQL', img: postgres_icon.src },
  { name: 'HTML5', img: html_icon.src },
  { name: 'CSS3', img: css_icon.src },
  { name: 'Tailwind CSS', img: tailwind_icon.src },
  { name: 'Git', img: git_icon.src },
];

skills.forEach((el) => {
  const item = document.createElement('li');
  item.className = 'flex flex-row justify-center relative p-10';
  item.innerHTML = `
    <div class="border border-indigo rounded-xl hover:bg-gray-extra-light max-w-20 absolute p-4 top-0">
      <Image src="${el.img}" alt="${el.name}" class="w-10 h-10"/>
    </div>
    `;
  skills_list.appendChild(item)
})
</script>
