<section class="bg-slate-600 h-screen" id="home">
  <div class="home h-full text-center">
    <div class="flex flex-col gap-20 h-full pb-40 pt-20">
      <h1 class="text-gray-light text-5xl font-bold">
        <span class="text-thistle">Hey there.<br/> I’m Ismael.</span> <br/>I’m a software<br/> developer!
      </h1>
      <p class="px-8 text-xl">
        I can help you build a product , feature or website<br/>
        Look through some of my work and experience!<br/>
        If you like what you see and have a project you need coded,<br/>
        don’t hesitate to contact me.
      </p>
    </div>
  </div>
</section>

<style>
  .home{
    background-image: url("../assets/images/homeBackgroundVertical.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-lavender{
    color: #f5e6e8;
  }
</style>
