---
import { Image } from 'astro:assets';
import github_icon from '../assets/images/github-icon (1).svg'
---

<section class="bg-indigo pb-14 pt-14 flex flex-col text-center gap-20 text-lavender" id="projects">
  <div class="">
    <h2 class="text-5xl">Projects</h2>
  </div>
  <div class="flex flex-col gap-8 justify-center items-center" id="carousel">
    <ul class="flex flex-row justify-center content-center relative" id="caroussel">
    </ul>
    <div class="w-full text-start flex justify-center">
      <p  class="w-2/3 text-gray-light" id="project_description"></p>
    </div>
    <div class="flex flex-row justify-center gap-20">
      <button class="hover:bg-transparent-white shadow-xxl hover:shadow-2xxl p-2 bg-thistle rounded-full">
        <a href="" class="" id="see_live">
          <Image src={github_icon} alt='github icon' class='w-14'/>
        </a>
      </button>
      <button class="hover:bg-transparent-white shadow-xxl hover:shadow-2xxl p-2 bg-thistle rounded-full">
        <a class="font-bold text-black" href="" id="see_code">See Live</a>
      </button>
    </div>
  </div>
</section>

<script src="../script/carousel.js">
</script>
